[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
asgiref = "*"
Django = "*"
django-cors-headers = "*"
django-cpf = "*"
djangorestframework = "*"
sqlparse = "*"
typing_extensions = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.10"
